@model Autopark.DAL.Entities.VOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Model.Date.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
