@model IEnumerable<Autopark.DAL.Entities.VOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountTitle)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
