@model IEnumerable<Autopark.WEB.Entities.Log>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogMessage)
            </td>
            <td>
                @if (!ReferenceEquals(item.CustomerUser, null))
                    {
                        @Html.DisplayFor(modelItem => item.CustomerUser.UserName)
                    }
            </td>
            <td>
                <a asp-area="Administration" asp-controller="Logs" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
